################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/One/.vs/One/v15/Server/sqlite3/db.lock
